html
{
    height:100%;
    margin:0;
    padding:0;
}

body
{
    text-align: center;
    color: white;
    background-color: #133113;
    background-image: url('images/BackgroundGreen4.gif');
    background-position: top center;
    background-repeat: no-repeat;

    font-family: Verdana;
    font-style: normal;
    font-size: 9pt;
    line-height: 144%;

    /* From template - for scrollable content */
    height: 100%;
    min-height: 500px;
    margin:0;
    padding:0;

    width: 820px;
    margin-right: auto;
    margin-left: auto;
    o-verflow: visible;
}

/* Embedded font: */
@font-face {
  font-family: bionic;
  src: url('bionic_type.ttf');
}

/* Link colors: */
a { text-decoration: none; border: 0; font-weight: bold; }
a img { border: 0; }
:link { color: #99cc99; }
:visited { color: #99cc99; }
a:active { color: #b2ffb2; }
a:hover { color: #b2ffb2; }
/* End of link colors */


header {
    height: 155px !important;
}

.HeaderText
{
    width: 370px;
    float: left;
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
    margin: 0;

    b-order: solid blue 1px;
}

.HeaderImage
{
    width: 230px;
    float: right;
    text-align: left;
    padding-top: 10px;
    padding-right: 80px;

    b-order: solid red 1px;
}

img.Tagline
{
    margin-top: 25px;
}

main {
    p-osition: relative;
    height: 100%;
    width: 820px; /* Sizing - any length */
    padding: 155px 0 80px 0; /* Header height and footer height */
    margin:-155px auto -60px auto; /* Center content */

    /* This is the key to the whole layout of the footer!!! */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    /* *** */

}

.box {
  height:100%;
  m-in-height: 300px;
  padding: 20px;
  border: solid white 10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.box .scrollable {
    height: 100%;
    min-width: 300px;
    m-in-height: 300px;
    overflow:auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;

    text-align: left;
}

h3 {
  margin-bottom: 15px;
  margin-top: 15px;

  font-family: bionic;
  font-size: 15pt;
  font-weight: normal;

  text-align: center;
}

h2 {
  margin-bottom: 15px;
  margin-top: 25px;

  text-align: center;
}

h2:first {
  margin-top: 10px;
}

.publications article {
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

.publications article img {
  width: 150px;
  margin-right: 20px;
  vertical-align: middle;
}

.publications article .text
{
  display: inline-block;
  vertical-align: middle;
}
/*
article .text
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
*/

article {
}

p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  text-align: justify;
}

p.authors { text-align: center; }


img.teaser
{
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.caption {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-top: 6px;
  text-align: center;
}

.publications nav { text-align: left; }



footer {
    width: 820px;
    p-osition: fixed;
    b-ottom: 0;
    height: 60px !important;
    p-osition: relative;
    b-ottom: -60px;

    font-family: bionic;
    font-size: 13pt;
    text-transform: uppercase;

}


.Separator
{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    background-image: url('images/SeparatorTransparent.gif');
    background-position: top center;
    background-repeat: no-repeat;
    display: inline-block;
}

.VerticalSeparator
{
    height: 15px;
}

.VerticalSeparatorLine
{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: -5px;
  border-bottom: 1px white solid;
}


footer .Separator
{
    width: 10px;
    height: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1px;
    m-argin-bottom: 0px;
    padding: 0px;
    background-image: url('images/SeparatorTransparent.gif');
    background-position: top center;
    background-repeat: no-repeat;
}

footer a, footer a:link, footer a:visited
{
    color: white;
    font-weight: normal;
}

footer a:hover
{
    color: #b2ffb2;
}

footer .Contact
{
    margin-top: 10px;
}


/* Left from template for future reference: */
/*
.sidebar1, .sidebar2 {
    background: red;
    top:60px;
    bottom:30px;
    width: 100px;
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.sidebar1 {
    left:0;
}

.sidebar2 {
    right: 0;
}
*/

video {
	display: block;
	text-align: center;
	width: 720px;
	margin: auto;
}
